# API Anahtarları ve Ortam Dosyaları
.env

# Vektör Veritabanı Dosyaları (Chroma veya FAISS gibi)
chroma_db_path/

# Sanal Ortamlar
venv/
.venv/

# Veri Setleri (Boyutu büyükse eklemeyin)
veriler.csv
